<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>List Skills</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">

  <div>
    <h1>List of Skills</h1>
  </div>
  <div>
    <h2>  <a th:href="@{/skills/new}">Create New Skill </a></h2>
  </div>

  <form th:action="@{/skills/search}" method="get">
    <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by name of the skill" size="50" >
    <button type="submit" class="btn btn-info" >Search</button>
    <button type="submit" class="btn btn-info" >Reset</button>
  </form>

  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Skill ID</th>
        <th>Name</th>
        <th>Operations</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="skill: ${listSkills}">
        <td th:text="${skill.id}">Skill id: </td>
        <td th:text="${skill.name}">Name: </td>

        <td>
          <a th:href="@{/skills/{id}(id=${skill.id})}">Details</a>
          <a th:href="@{/skills/edit/{id}(id=${skill.id})}">Edit</a>
          <a th:href="@{/skills/delete/{id}(id=${skill.id})}">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>