<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заявление</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div th:insert="template.html::imports"></div>

</head>
<div th:insert="template.html::header"></div>
<body id="top">


<div class="site-wrap">



    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('/images/job_details.jpg');" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                    <div class="custom-breadcrumbs">

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="site-section">
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">

                        <div>
                            <h2>Заявление</h2>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Пропосал</h3>
                        <p style="word-break: break-all;" th:text="${application1.description}"></p>

                    </div>
                    <div class="mb-5">
                        <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-rocket mr-3"></span>Цена</h3>
                        <ul class="list-unstyled m-0 p-0">
                            <li class="d-flex align-items-start mb-2"><span th:text="${application1.getProposedPrice()}"></span></li>
                        </ul>
                    </div>


                </div>

            </div>
        </div>
    </section>

    <section class="site-section" style="padding-top: 0 !important; " th:if="${application1.getApplicationStatus().toString().equals('PENDING')}">
        <div class="container" >
            <div class="row mb-5">
                <div class="col-6" >
                    <a th:href="@{/application/approve/{id}(id = ${application1.id})}" class="btn btn-block btn-primary btn-md">Принять</a>

                </div>
                <div class="col-6" >
                    <a th:href="@{/application/reject/{id}(id = ${application1.id})}" class="btn btn-block btn-primary btn-md" style="background-color: firebrick">Отказать</a>
                </div>
            </div>
        </div>
    </section>


</div>


<div th:insert="template.html::footer"></div>
<div th:insert="template.html::scripts"></div>


</body>
</html>