<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <div th:fragment="imports">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Free-Template.co" />
        <link rel="shortcut icon" href="ftco-32x32.png">

        <link rel="stylesheet" href="/css/custom-bs.css">
        <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="/fonts/icomoon/style.css">
        <link rel="stylesheet" href="/fonts/line-icons/style.css">
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/animate.min.css">
        <!-- MAIN CSS -->
        <link rel="stylesheet" href="/css/style.css">
    </div>



</head>
<body>

<div th:fragment="header">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="site-logo col-6"><a href="/">Freelance Platform</a></div>

                <nav class="mx-auto site-navigation">
                    <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                        <li><a th:href="@{~/}" >Найти фрилансеров</a></li>
                        <li><a th:href="@{~/projects}">Найти работу</a></li>
                        <li><a th:href="@{~/skills2}">Найти по навыкам</a></li>
                        <li class="d-lg-none"><a href="/logout">Выйти</a></li>
                    </ul>
                </nav>

                <div class="right-cta-menu text-right d-flex align-items-center col-6">
                    <div class="ml-auto">

                        <div sec:authorize="isAuthenticated()">
                            <a th:href="@{/users/profile/{id}(id = ${currUser.id})}" th:text="${currUser.email}"></a>

                            <a th:href="@{/logout}"class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Выйти</a>

                        </div>

                    </div>
                    <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                </div>

            </div>
        </div>
    </header>

</div>

<div th:fragment="footer">
    <footer class="site-footer">

        <a href="#next" class="smoothscroll scroll-top">
            <span class="icon-keyboard_arrow_up"></span>
        </a>

        <div class="container">
            <div class="row mb-2">
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>О платформе</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/EldiiarDzhunusov/freelanceFYP">Проект</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Разработчики</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://eldiiardzhunusov.github.io/">Персональный Сайт</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Поддержка</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/EldiiarDzhunusov/freelanceFYP/wiki">Помощь</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Связаться с нами</h3>
                    <div class="footer-social">
                        <a href="https://www.linkedin.com/in/eldiiardzhunusov/"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</div>


<div th:fragment="scripts">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/stickyfill.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>

    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/quill.min.js"></script>


    <script src="/js/bootstrap-select.min.js"></script>

    <script src="/js/custom.js"></script>
</div>


</body>
</html>