<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>[[${#request.userPrincipal.principal.fullName}]]</title>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>[[${#request.userPrincipal.principal.fullName}]]</h1>
    </div>
    <div>
        <h2>  <a th:href="@{/users/edit/password/{id}(id=${user.id})}">Update password </a></h2>
    </div>

    <td th:each="user : ${user}">
        <p>
            <a th:href="@{~/users/edit/profile/{id}(id = ${user.id})}">Edit</a>
            <a th:href="@{~/users/skills/{id}(id = ${user.id})}">Skills</a>
        </p>
        <p th:text="${user.email}"></p>
        <p th:text="${user.firstName}"></p>
        <p th:text="${user.lastName}"></p>

    </td>

</div>
</body>
</html>