<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${job.name}"></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <div th:insert="template.html::imports"></div>

</head>
<div th:insert="template.html::header"></div>
<body id="top">


<div class="site-wrap">



  <!-- HOME -->
  <section class="section-hero overlay inner-page bg-image" style="background-image: url('/images/job_details.jpg');" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold" th:text="${job.name}"></h1>
          <div class="custom-breadcrumbs">

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="site-section">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-8 mb-4 mb-lg-0">
          <div class="d-flex align-items-center">

            <div>
              <h2 th:text="${job.name}"></h2>
              <div>
                <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2" th:text="' '+ ${job.employer.getFullNameAbbreviation()}"></span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-6" th:if="${isAdminOrOwner && job.applicationList.size()==0}">
              <a th:href="@{/jobs/edit/{id}(id = ${job.id})}" class="btn btn-block btn-primary btn-md">Обновить</a>

            </div>

            <div class="col-6" th:if="${job.getJobStatus().toString().equals('PENDING') && isFreelancer}">
                <a th:href="@{/application/apply/{id}(id = ${job.id})}" class="btn btn-block btn-primary btn-md">Подать Заявку</a>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div class="mb-5">
            <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Описание Работы</h3>
            <p style="word-break: break-all;" th:text="${job.description}"></p>

          </div>
          <div class="mb-5">
            <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-rocket mr-3"></span>Нужные Навыки</h3>
            <ul class="list-unstyled m-0 p-0" th:each="skill: ${job.getJobSkills()}">
              <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span><a th:href="@{/skills/{id}(id = ${skill.id})}" th:text="${skill.name}"></a></span></li>
              </ul>
          </div>





        </div>
        <div class="col-lg-4">
          <div class="bg-light p-3 border rounded mb-4">
            <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Информация</h3>
            <ul class="list-unstyled pl-3 mb-0">
              <li class="mb-2"><strong class="text-black" >Автор: </strong><a th:text="${job.getEmployer().getFullNameAbbreviation()}"></a></li>
              <li class="mb-2"><strong class="text-black">Цена $: </strong> <p th:text="${job.getPrice()}"></p> </li>
              <div th:if="${job.getJobStatus().toString().equals('PENDING')}">
                <li class="mb-2"><strong class="text-black">Подано заявок: </strong> <p th:text="${job.getApplicationList().size()}"></p></li>
              </div>
              <div th:if="${job.getJobStatus().toString().equals('STARTED')}">
                <li class="mb-2"><strong class="text-black">Фрилансер: </strong> <a th:href="@{/users/profile/{id}(id = ${job.getFreelancer().id})}" th:text="' ' +${job.getFreelancer().getFullNameAbbreviation()}"></a></li>
              </div>
              <div th:if="${isCurrentFreelancer || isAdminOrOwner}">
                  <li class="mb-2"><strong class="text-black">Email: </strong> <a  th:text="${job.employer.getEmail()}"></a></li>
              </div>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section th:if="${isAdminOrOwner && job.applicationList.size()>0}" class="site-section" id="next" style="padding-top: 0; ">
    <div class="container" >
      <div class="mb-5" >
        <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-turned_in mr-3"></span>Заявки</h3>

        <ul class="job-listings mb-2" th:each="application1: ${job.applicationList}">
          <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center" >
            <a th:href="@{/application/{id}(id=${application1.id})}"></a>
            <div class="job-listing-logo" align="center">
              <p th:text="${application1.getProposedPrice()}+' $'" ></p>
            </div>
            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
              <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0" >
                <div style="margin: 10px">
                  <h2 th:text="${application1.getDescription()}"></h2>

                </div>

              </div>
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                <div style="margin: 10px">
                  <span class="" th:href="@{/users/profile/{id}(id = ${application1.getFreelancer().getId()})}" th:text="${application1.getFreelancer().getFullNameAbbreviation()}"></span>
                </div>
              </div>
              <div class="job-listing-meta" style="margin: 10px">
                <span class="badge badge-success">Подробнее</span>
              </div>
            </div>

          </li>


        </ul>
      </div>
    </div>
  </section>
  <section class="site-section" style="padding-top: 0 !important; ">
      <div class="container" >
      <div class="row mb-5">
        <div class="col-6" th:if="${isAdminOrOwner && job.applicationList.size()==0}">
          <a th:href="@{/jobs/edit/{id}(id = ${job.id})}" class="btn btn-block btn-primary btn-md">Изменить описание работы</a>

        </div>
        <div class="col-6" th:if="${job.getJobStatus().toString().equals('PENDING') && isFreelancer}">
          <a th:href="@{/application/apply/{id}(id = ${job.id})}" class="btn btn-block btn-primary btn-md">Подать Заявку</a>
        </div>
      </div>
      </div>
  </section>


</div>


<div th:insert="template.html::footer"></div>
<div th:insert="template.html::scripts"></div>


</body>
</html>