<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Freelance Platform</title>
    <div th:insert="template.html::imports"></div>
</head>
<body>
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div th:insert="template.html::header"></div>

<section class="section-hero overlay inner-page bg-image" style="background-image: url('/images/img_hall.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold" th:text="${user.getFullNameAbbreviation()}" ></h1>

            </div>
        </div>
    </div>
</section>




<div th:insert="template.html::footer"></div>
<div th:insert="template.html::scripts"></div>
</body>
</html>